ion-content{
    --background: url(../../assets/supervision.jpeg);
  }
  .welcome1{
    --background: rgba(242, 242, 253, 0.5);
  }
  .welcome2{
    --background: rgba(242, 242, 253, 0.5);
  }
  ion-content::part(background) {
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }
  