<!-- Back button with a default href -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="data">
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Valores Actuales Regadío:
        <ion-text color="primary">
          <i class="fa fa-water"></i>
        </ion-text>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>
            <ng-container *ngIf="data.electrovalvula; else elseTemplate">
              <span>Encendido</span>
            </ng-container>
          </ion-label>
          <ion-toggle color="primary" [(ngModel)]="data.electrovalvula" (ngModelChange)="sendChange()"></ion-toggle>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Valores Actuales Ventiladores:
        <ion-text color="dark">
          <i class="fa fa-fan"></i>
        </ion-text>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>
            <ng-container *ngIf="data.ventilador; else elseTemplate">
              <span>Encendido</span>
            </ng-container>
          </ion-label>
          <ion-toggle color="dark" [(ngModel)]="data.ventilador" (ngModelChange)="sendChange()"></ion-toggle>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>
  <ng-template #elseTemplate>
    <span>Apagado</span>
</ng-template>
</ion-content>
