ion-content{
  --background: url(../../assets/supervision.jpeg);
}
.welcome-card{
  --background: rgba(242, 242, 253, 0.5);
  --color: red
}
.welcome{
  --background: rgba(242, 242, 253, 0.5);
}

ion-content::part(background) {
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}